*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 2000px;
    font-family:'Roboto', sans-serif;
    background-image: url("../images/background.jpg");
    background-size: cover;
}
#titleCardRegister, #buttonsRegisterCard{
    text-align: center;
}

    
